.App {
    min-height: 100vh;
    flex-direction: column;
    font-size: xx-large;
    color: black;
    text-align: center;
    background-color: white;
}

.App {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
