.App {
    min-height: 100vh;
    flex-direction: column;
    font-size: xx-large;
    color: white;
    text-align: center;
    background-color: lightskyblue;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}
