.Input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}
.Input * {
    margin: .5em
}
.Input :focus {
    outline: 5px auto black !important
}
.Input input {
    background: transparent;
    font-size: 1.4em;
    text-align: center;
    width: 70vw;
    outline: 5px auto black;
}
.Input button,
.Input input {
    border: none;
    color: black;
    padding: .5em
}
.Input button {
    font-size: 1.2em;
    background: dodgerblue;
}